.borad {
    text-align: center;
    }

    @media (prefers-reduced-motion: no-preference) {
        .borad-logo {
            width: 140px;
            display:flex;
            height: 50px;
            position:absolute;
            left:0px;
            top:1px;
        }
        .ex_borad {
            width: 150;
            display:flex;
            height: 50px;
            position:absolute;
            left:630px;
            top:700px;
        }
    }
    .Post_Botton{
        background-color:transparent;
        border: 2;
        margin: auto;
        display:block;
        position:fixed;
        left: 1800px;
        top:900px;
        cursor: pointer;
      }