.divi {
    text-align: center;
    }

    @media (prefers-reduced-motion: no-preference) {
        .divi-logo {
            width: 140px;
            display:flex;
            height: 50px;
            position:absolute;
            left:0px;
            top:1px;
        }
        .ex_divide {
            width: 150;
            display:flex;
            height: 50px;
            position:absolute;
            left:630px;
            top:700px;
        }
    }
    .sns-in{
    /*  display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; */
        border: 1px solid rgb(0, 174, 255);
        width : 700px;
        height: 500px;
        position: fixed;
        left:35%;
        top:25%;
        
    }
    .tit{
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    }

    .Naver_Button{
        background-color:transparent;
        border: 0;
        margin: auto;
        display:block;
    }

    .Kakao_Button{
        background-color:transparent;
        border: 0;
        margin: auto;
        display:block;
    }

    .Gooogle_Button{
        background-color:transparent;
        border: 0;
        margin: auto;
        display:block;
    }