.App {
  text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .Login {
    width: 80px;
    height: 40px;
    display:flex;
    position:absolute;
    left:1830px;
    top:10px;
  }

  .Join {
    width: 80px;
    height: 40px;
    display:flex;
    position:absolute;
    left:1730px;
    top:10px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      width: 200px;
      height: 200px;
    }
  }
  
  .App-header {
    /*배경 색상*/
    background-color: #ffffff;
    /*요소 최대 세로 너비 지정*/
    min-height: 100vh;
     /*레이아웃 배치*/
    display: flex;
    /*요소 위에서 아래로 정렬*/
    flex-direction: column;
    /*요소 세로선 상의 가운데 정렬*/
    align-items: center;
    /*요소 가운데 정렬*/
    justify-content: center;
    /*글자 크기 및 색상 지정*/
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }
  
  .App-size{
    width: 350px;
  }
  
  .App-Search{
    width: 700px;
    height: 60px;
    border-width: 9px;
    border-color: #50bcdf;
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px; 

    }

    .App-button{
      width: 50px;
      height: 50px;
    }
    
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }