.log {
    text-align: center;
    }

    @media (prefers-reduced-motion: no-preference) {
        .divi-logo {
            width: 140px;
            display:flex;
            height: 50px;
            position:absolute;
            left:0px;
            top:1px;
         }
         .ex_divide {
            width: 150;
            display:flex;
            height: 50px;
            position:absolute;
            left:630px;
            top:700px;
         }
}

.Board_Botton{
  background-color:transparent;
  border: 0;
  margin: auto;
  display:block;
  position:fixed;
  left: 1400px;
  top:10px;
}

.Board {
  width: 40px;
  height: 40px;
  display:flex;
  position:absolute;
  left:85%;
  top:10px;
}

.Board_Text{
  background-color:transparent;
  border: 0;
  margin: auto;
  position:fixed;
  left: 1410px;
  top:65px;
}