.borad {
    text-align: center;
    }

   
    .borad-llogo {
        width: 200px;
        height: 70px;
        margin-top: 50px;
        padding-right: 10px;
        margin-left: 100px;
    }

    
    .Post_Botton{
        background-color:transparent;

        float:left;
        margin-left: 150px;
        margin-top: 50px;
        position:fixed;
        top : 750px;
        left : 750px;
        font-size: 30px;
        padding: 20px;
        cursor: pointer;
      }

      .board_list{
          padding-left: 150px;
          width: 100%;
      }
      .Home{
        width: 140px;
        display:flex;
        height: 50px;
        position:absolute;
        left:0px;
        top:1px;
        background-color:transparent;
        border: 0;
    }
    .list{
        font-size: 30px;
    }